/* ----------------meyer web css reset--------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier', monospace;
}

/* global css variables --> custom properties (our theme) */

:root {
    --bg: #313943;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

/* ----------------------------- NAVBAR -------------------------- */

.navbar {
    height: var(--nav-size);
    background-color: var(--bg);
    padding: 0 1rem;
    border-bottom: var(--border);
}

.navbar-nav {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    width: calc(var(--nav-size) * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button {
    --button-size: calc(var(--nav-size) * 0.6);
    width: var(--button-size);
    height: var(--button-size);
    background-color: #484a4d;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
}

.icon-button:hover {
    filter: brightness(1.6)
}

.icon-button img {
    fill: var(--text-color);
    width: 100%;
}

.icon-right img {
    fill: var(--text-color);
    width: 100%;
}

.icon-right {
    margin-left: auto;
    --button-size: calc(var(--nav-size) * 0.5);
    width: var(--button-size);
    height: var(--button-size);
    background-color: #484a4d;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
}

.icon-right:hover {
    filter: brightness(1.6);
}

.dropdown {
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 57px;
    right: -135px;
    width: 300px;
    transform: translateX(-45%);
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
    transition: height var(--speed) ease;
    z-index: 2;
}

.menu-item {
    /* height: 50px; */
    /* height: 40px; */
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
}

.menu-item:hover {
    background-color: #525357;
}

/*-------- css transitions ------*/

/* when class is active */

.menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
}

/* after timeout of 500ms */

.menu-primary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
}

/* when class deactivates */

.menu-primary-exit {
    position: absolute;
}

/* after class deactivates */

.menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
}

/* when class is active */

.menu-secondary-enter {
    /* position: absolute; */
    transform: translateX(110%);
}

/* after timeout of 500ms */

.menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
}

/* when class deactivates */

.menu-secondary-exit {
    /* position: absolute; */
}

/* after class deactivates */

.menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
}

.menu-middle-enter {
    /* position: absolute; */
    transform: translateX(110%);
}

/* after timeout of 500ms */

.menu-middle-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
}

/* when class deactivates */

.menu-middle-exit {
    /* position: absolute; */
}

/* after class deactivates */

/* .menu-middle-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
} */

@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Kanit:wght@800&family=Secular+One&display=swap');
.dropdownitem_text {
    margin-left: 10px;
    color: #e4e4e4;
    font-size: 120%;
    /* font-family: 'Kanit', sans-serif; */
    font-family: 'Secular One', sans-serif;
}

.dropdown_category {
    color: #34c0b9;
    font-size: 160%;
    font-family: 'Kanit', sans-serif;
    /* height: 40px; */
}

.line {
    width: 200px;
    height: 35px;
    border-bottom: 1px solid rgb(175, 175, 175);
    position: absolute;
}

/* --------------------------- LOG IN --------------------------- */

.login-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 200px;
}

.inputs-login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 180px;
    position: relative;
    /* top: -60px; */
}

.buttons-login {
    display: flex;
    justify-content: space-between;
    width: 165px;
}

.login-button {
    padding: 7px;
    margin: 5px 0px;
    width: 80px;
}

.errors-login {
    width: 165px;
    /* padding: 0;
    margin: auto; */
}

/* ------------------------- SIGN UP -------------------------- */

.signup-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 250px;
}

.inputs-signup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 135px;
}

.form-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 180px;
    position: relative;
    /* left: 10px; */
}

.signup-button {
    padding: 7px;
    margin: 7px 0px;
    width: 80px;
}

.errors-signup {
    width: 165px;
    /* padding: 0;
    margin: auto; */
}

/*---------------------------- LANDING PAGE -------------------------*/

.landing-background {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background: url('./images/icons/wallpaper/swirl.jpg');
    background-size: cover;
}

.landing-center {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

/* .landing-container {
    align-items: center;
    justify-content: center;
} */

/* ------------------------------- SHOW LIFT ------------------------------- */

/* body {
    text-align: center;
} */

.table-container {
    display: flex;
    flex-direction: column;
    /* height: 100rem;
    width: 900px; */
    max-width: 1150px;
    min-height: 30vh;
    max-height: 60vh;
    ;
    /* max-height: 600px; */
    width: 100%;
    height: 100%;
    padding: 45px 45px;
    background-color: #ffffff;
    align-items: center;
    border-radius: 30px;
    position: relative;
    text-align: center;
    top: -5%;
}

@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Kanit:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Kanit:wght@800&family=Orbitron&family=Secular+One&display=swap');
.table-heading {
    font-size: 3.5em;
    /* font-weight: ; */
    font-family: 'Orbitron', sans-serif;
    /* font-family: 'Secular One', sans-serif; */
    color: #313943;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 15px;
    position: relative;
    /* font-family: 'Kanit', sans-serif; */
    /* text-align: center; */
}

.InovuaReactDataGrid {
    border-radius: 20px;
    width: 100%;
}

.InovuaReactDataGrid__header {
    border-radius: 20px;
    font-family: sans-serif;
}

.InovuaReactDataGrid__column-header {
    font-size: 2em;
    color: #ffffff;
    display: flex;
    /* text-align: center; */
}

.InovuaReactDataGrid__row {
    font-family: sans-serif;
    color: #ffffff;
    font-size: 1.7em;
    /* text-align: */
}

.InovuaReactDataGrid__row--rowheight {}

.body {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background: url('./images/icons/wallpaper/swirl.jpg');
    background-size: cover;
}

.table-plus {
    position: absolute;
    top: 25px;
    left: 50px;
    cursor: pointer;
    /* border-radius: 50%; */
    width: 60px;
    /* --button-size: calc(var(--nav-size) * 0.6); */
    /* width: var(--button-size);
    height: var(--button-size); */
    background-color: #ffffff;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
}

.table-plus:hover {
    background-color: #adadad;
    /* width: 65px; */
}

.table-minus {
    position: absolute;
    top: 25px;
    left: 120px;
    cursor: pointer;
    /* border-radius: 50%; */
    width: 60px;
    /* --button-size: calc(var(--nav-size) * 0.6); */
    /* width: var(--button-size);
    height: var(--button-size); */
    background-color: #ffffff;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
}

.table-minus:hover {
    background-color: #adadad;
    /* width: 65px; */
}

/* ----------------------- CREATE STAT---------------------------- */

.stat-create_container {
    display: flex;
    flex-direction: column;
    /* height: 100rem;
    width: 900px; */
    max-width: 290px;
    width: 100%;
    min-height: 470px;
    /* max-height: 600px; */
    padding: 30px 30px;
    background-color: #ffffff;
    align-items: center;
    border-radius: 30px;
    position: relative;
    text-align: center;
    top: -5%;
}

.stat-create_inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 305px;
}

.stat-create_form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color: #313943;
    border-radius: 10%;
    position: relative;
    font-family: sans-serif;
    color: white;
    font-size: 120%;
    top: 10px;
}

input {
    border-radius: 2px;
    font-family: sans-serif;
    font-size: 100%;
}

.stat-create_buttons {
    padding: 5px;
    margin: 5px;
    display: flex;
    align-items: ;
    justify-content: space-around;
    position: relative;
    top: 1px;
    width: 80%
    /* width: 80px; */
}

.stat-create_button {
    padding: 8px 20px;
    font-family: sans-serif;
    font-size: 100%;
    width: 100px;
}

.stat-back_button {
    padding: 8px 20px;
    font-family: sans-serif;
    font-size: 100%;
    width: 100px;
}

.stat-create_errors {
    width: 165px;
}

select {
    width: 12em;
    height: 1.5em;
    font-size: 100%;
}

.InovuaReactDataGrid__cell--user-select-text {
    font-size: 50px;
}
